html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 780px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(252, 252, 253);
  font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

.countries {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 150px;
}

.countries__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 70px;
  color: rgb(56, 51, 51);
}

.countries__input {
  width: 280px;
  height: 40px;
  margin-bottom: 50px;
  border: 5px solid rgb(56, 51, 51);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.country {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row-reverse;
}

.card__container {
  margin-right: 100px;
}

.card__title {
  font-weight: 800;
  font-size: 60px;
  color: rgb(56, 51, 51);
}

.card__text {
  font-weight: 700;
  font-size: 40px;
  color: rgb(56, 51, 51);
}

.card__item {
  font-weight: 700;
  font-size: 36px;
  color: rgb(56, 51, 51);
}

.countries__item {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(56, 51, 51);
}
